---
name: Publish pygame to itch.io
env:
  MAIN_FILE: ${{ inputs.main_file || 'main.py' }}
  BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
  BUTLER_URL: "https://broth.itch.zone/butler"

on:
  workflow_dispatch:
    inputs:
      version:
        description: version of our game
        required: false
        type: string
      game:
        description: Itch.io game
        required: true
        type: string
      token:
        description: Itch.io API token
        required: false
        type: string
      user:
        description: Itch.io user
        required: false
        type: string
      main_file:
        description: Main file to build
        required: false
        type: string
      platforms:
        description: Platform to build for. Options are windows, linux, macos. Comma separated list.
        required: false
        type: string
        default: windows
jobs:
  Build-For-Windows:
    if: contains(inputs.platforms, 'windows') || inputs.platforms == 'all'
    name: Build for Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: pip
      - name: Build pygame
        run: |
          pip install -r requirements.txt pyinstaller
          pyinstaller --onefile --noconsole --add-data "assets:assets" ${{ env.MAIN_FILE }}
      - name: Install Butler
        run: |
          Invoke-WebRequest -Uri "${{ env.BUTLER_URL }}/windows-amd64/LATEST/archive/default" -OutFile "butler.zip" -MaximumRedirection 5 -AllowInsecureRedirect
          Expand-Archive -Path .\butler.zip 
      - name: Push to Itch.io
        run: |
          .\butler\butler.exe push dist/ "${{ secrets.ITCHIO_USER }}/${{ inputs.game }}:windows" --userversion ${{ inputs.version || github.ref_name}} 
  Build-For-Mac:
    if: contains(inputs.platforms, 'macos') || inputs.platforms == 'all'
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: pip
      - name: Build pygame
        run: |
          pip install -r requirements.txt pyinstaller
          pyinstaller --onefile --noconsole --add-data "assets:assets" ${{ env.MAIN_FILE }}
      - name: Install Butler
        run: |
          curl -L -o butler.zip ${{ env.BUTLER_URL }}/darwin-amd64/LATEST/archive/default
          unzip butler.zip
          chmod +x butler
          ./butler -V
      - name: Push to Itch.io
        run: |
          ./butler push dist/ "${{ secrets.ITCHIO_USER }}/${{ inputs.game }}:macos" --userversion ${{ inputs.version }} 
  Build-For-linux:
    if: contains(inputs.platforms, 'linux') || inputs.platforms == 'all'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: pip
      - name: Build pygame
        run: |
          pip install -r requirements.txt pyinstaller
          pyinstaller --onefile --noconsole --add-data "assets:assets" ${{ env.MAIN_FILE }}
      - name: Install Butler
        run: |
          curl -L -o butler.zip ${{ env.BUTLER_URL }}/linux-amd64/LATEST/archive/default
          unzip butler.zip
          chmod +x butler
          ./butler -V
      - name: Push to Itch.io
        run: |
          ./butler push dist/ "${{ secrets.ITCHIO_USER }}/${{ inputs.game }}:linux" --userversion ${{ inputs.version }}         
